<ion-header>
  <ion-toolbar _bg-theme-color>
    <ion-icon slot="start" name="arrow-round-back" class="ion-padding" style="padding-right: 0px" (click)="goBack()">
    </ion-icon>
    <ion-avatar slot="start" class="ion-padding" (click)="goBack()">
      <img src="../../../assets/imgs/avatar/avatar9.jpg">
    </ion-avatar>
    {{recieverName | titlecase}}
    <!-- <ion-icon name="videocam" slot="end" class="ion-padding"></ion-icon> -->
    <!-- <ion-icon name="call" slot="end" class="ion-padding"></ion-icon> -->
    <ion-icon name="log-out" (click)="logout()" slot="end" class="ion-padding"></ion-icon>
  </ion-toolbar>
</ion-header>


<ion-content bg-sky [scrollEvents]="true" #scrollMe>
  <div style="padding-bottom: 70px;">
    <div *ngFor="let message of messages;let i = index">
      <ng-container *ngIf="message.senderID === senderID">
        <div flex flow-right>
          <ion-card bg-light>
            <ion-card-content style="padding-bottom: 0px;">
              {{ message.msg }}
            </ion-card-content>
            <p class="ion-no-margin ion-text-right" light-time>{{ api.formatAMPM(message?.timestamp?.toDate()) }}</p>
          </ion-card>
        </div>
      </ng-container>
      <ng-container *ngIf="message.senderID !== senderID">

        <div flex>
          <ion-card bg-white>
            <ion-card-content style="padding-bottom: 0px;">
              {{ message.msg }}
            </ion-card-content>
            <p class="ion-text-right ion-no-margin" light-time>{{ api.formatAMPM(message?.timestamp?.toDate()) }}</p>
          </ion-card>
        </div>
      </ng-container>
    </div>
  </div>

  <div *ngIf="loader" flex v-center h-center style="height: 100%;">
    <ion-spinner name="crescent" color="success" style="width: 100px; height: 100px;"></ion-spinner>
  </div>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <div slot="start" class="ion-padding">
      😀
    </div>
    <ion-input [(ngModel)]="message" placeholder="Type here..."></ion-input>
    <ion-icon (click)="sendChat()" name="send" slot="end" class="ion-padding"></ion-icon>
  </ion-toolbar>
</ion-footer>